<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h4>Get in touch</h4>
        <p class="about-text"><%= config.instagram.aboutText %></p>
        <a class="contact-now-btn" href="mailto:<%= config.instagram.email %>">Contact Now</a>
        </div>
    </div>
</div>